 <% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  Get more info on Cyclop
  <a href="https://www.facebook.com/groups/CYCLOPBUYSELL">Cyclop Contact page</a>.
  To get more info, see the
  <a href="https://www.facebook.com/groups/CYCLOPBUYSELL">Facebook Page</a>.
</p>